#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#general-container,
#education-container,
#experience-container { 
  display: flex;
  flex-direction: column;
}

ul {
  width: 460px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

input,
ul li {
  background-color: #3b3a3a;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

button {
  padding: 10px 10px;
  margin: 15px 150px 0 150px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}